.pie-de-pagina {
    background-color: #ff4d5a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.contenedor-enlaces {
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

.columna-info h3 {
    margin-bottom: 35px;
    text-align: start;
}

.columna-info ul {
    list-style: none;
    text-align: start;
    padding: 0;
}

.columna-info ul li {
    margin-bottom: 18px;
}

.linea-final {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-top: 1px solid white;
    width: 900px;
}

.seccion-destacada {
    display: flex;
    flex-direction: row-reverse;
    background-image: url("/images/raptis.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 50px;
}

.seccion-destacada h2 {
    font-size: 32px;
}

.seccion-destacada p {
    margin: 20px 0;
}

.contenido-banner {
    width: 500px;
    justify-content: end;
}

.seccion-destacada button {
    background-color: #ff4d5a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
}

.contenedor-flexible {
    display: flex;
    padding: 50px;
    gap: 40px;
}

.contenedor-flexible.invertido {
    flex-direction: row-reverse;
}

.bloque-texto {
    flex: 1;
}

.bloque-texto h2 {
    display: block;
    color: black;
}

.bloque-texto h2 span {
    background: linear-gradient(90deg, #ff4d5a, #ff0088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bloque-texto button {
    background-color: #ff4d5a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
}

.bloque-imagen img {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: auto;
}

.encabezado-principal {
    background-image: url("/images/angel.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado-principal h1 {
    color: rgba(255, 255, 255, 0.619);
    font-size: 70px;
    letter-spacing: 2px;
}

.encabezado-principal span {
    color: white;
    font-size: 70px;
    letter-spacing: 2px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}